.main_banner {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    url(../../../public/assets/images/video.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /*height: calc(100vh - 1.56rem);
    */
  height: 483px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
}
