.cart_items_container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
  padding: 100px 0;
}
.cart_items {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media (max-width: 768px) {
  .cart_items_container {
    justify-content: center;
  }
}
