.heading {
  text-align: center;
  margin: 4rem 0;
  color: var(--white-color);
}
.heading p {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
}
.heading h2 {
  font-family: Fibre;
  font-weight: 700;
  font-size: 64px;
  line-height: 64.58px;
  text-align: center;
}
