.footer {
  text-align: center;
  margin: 3rem 0;
}
.footer p {
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  color: var(--white-color);
}
.footer p span {
  color: var(--primary-color);
}
@media (max-width: 448px) {
  .footer p {
    font-size: 14px;
    line-height: 26px;
  }
}
